SUPABASE_URL='https://itshxssqsjopevcgadpb.supabase.co'
SUPABASE_SERVICE_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0c2h4c3Nxc2pvcGV2Y2dhZHBiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NTkxODQyMywiZXhwIjoyMDYxNDk0NDIzfQ.N7fx22aJ9qg2Gis4gii7ppTUbi13YxUs60dYAOdYk'